* {
    font-size: x-large;
}
html {
    background-color: black;
}
sup, sub {
    font-size: small;
}
@font-face{
    font-family: 'calculator-font';
    src:url('digital-7\ \(mono\).ttf')
}
#calculator {
    position: fixed;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    width:912px;
    height:988px;
    border:2px solid;
    background-color: #e0e4e8;
}
#screen {
    position:absolute;
    top:38px;
    left:38px;
    width:832px;
    height:76px;
    border:2px solid;
    background-color: grey;
}
#topRow, #bottomRow {
    display:none;
    position: absolute;
    width:818px;
    height:30px;
    left:5px;
    font-size: 36px;
    font-family: calculator-font;
    font-weight: bold;
    resize: none;
}
#topRow {
    top:5px;
}
#bottomRow {
    bottom:11px;
}
#bottomDisplay {
    position: absolute;
    height:30px;
    top:-37px;
    font-size: 36px;
    font-family: calculator-font;
    font-weight: bold;
    z-index: 2;
}
#cursor {
    z-index: 1;
    height:30px;
    position: relative;
    width:18px;
    top:-37px;
    left:0px;
    font-size: 36px;
    color:white;
    background-color: white;
}
button {
    width:76px;
    height:76px;
    margin-left:38px;
    margin-top:38px;
    background-color:#96b3ce;
}
button:hover {
    background-color: yellow;
}
#second {
    background-color: rgb(235, 104, 104);
}
#second:hover {
    background-color: yellow;
}
#clear {
    background-color: rgb(235, 104, 104);
}
#clear:hover {
    background-color: yellow;
}
#arrows {
    position:absolute;
    left:608px;
    top:114px;
    height:304px;
    width:304px;
    
}
#arrows > button {
    position:absolute;
    margin:0;
    background-color:#b0b987;
}
#arrows > button:hover {
    background-color: yellow;
}
#up {
    top:38px;
    left:114px;
}
#right {
    top:114px;
    left:190px;
}
#down {
    top:190px;
    left:114px;
}
#left {
    top:114px;
    left:38px;
}
#numpad {
    position:absolute;
    left:266px;
    top:494px;
    width:380px;
    height:494px;
}
#numpad > button {
    background-color:#b0b987;
}
#numpad > button:hover {
    background-color: yellow;
}
#operators {
    position:absolute;
    left:684px;
    top:380px;
    width:152px;
    height:608px;
    
}
#operators > button{
    background-color:#b0b987;
}
#operators > button:hover {
    background-color: yellow;
}
#first_buttons {
    position:absolute;
    width:608px;
    height:380px;
    top:114px;
    left:0px;
    
}
#first_buttons > button {
    position: absolute;
}
/*These are all positioning attributes for first_buttons*/
#second{
    font-size: large;}
#angle_mode{
    left:114px;
    font-size: medium;}
#delete{
    left:228px;
    font-size: large;}
#logarithm{
    left:342px;
    font-size: large;}
#functions{
    left:456px;
    font-size: large;}
#angle_modifier{
    top:114px;
    font-size: medium;}
#natural_log{
    left:114px;
    top:114px;
    font-size: large;}
#fraction{
    left:228px;
    top:114px;
    font-size: small;}
#data{
    left:342px;
    top:114px;
    font-size: large;}
#statvar{
    left:456px;
    top:114px;
    font-size: small;}
#pi{
    top:228px;
    font-size: large;}
#sine{
    left:114px;
    top:228px;
    font-size: large;}
#cosine{
    left:228px;
    top:228px;
    font-size: large;}
#tangent{
    left:342px;
    top:228px;
    font-size: large;}
#clear{
    left:456px;
    top:228px;
    font-size: large;}
#second_buttons{
    position: absolute;
    top:456px;
    left:0px;
    width:266px;
    height:494px;
    
}
#second_buttons > button {
    position:absolute;
}
#power{
    font-size: large;}
#reciprocal{
    left:114px;
    font-size: large;}
#left_p{
    top:114px;
    font-size: large;}
#right_p{
    left:114px;
    top:114px;
    font-size: large;}
#square{
    top:228px;
    font-size: large;}
#variable{
    left:114px;
    top:228px;
    font-size: small;}
#onoff{
    top:342px;
    font-size: large;}
#store{
    left:114px;
    top:342px;
    font-size: large;}
